@import "tailwindcss";
@import "tailwindcss";
@plugin '../../hero.ts';

/* Note: You may need to change the path to fit your project structure */
@source '../../node_modules/@heroui/theme/dist/**/*.{js,ts,jsx,tsx}';
@custom-variant dark (&:is(.dark *));
:root {
  --font-peyda: "Peyda", "sans-serif";
  --background: #0c0c0c;
  --foreground: #ededed;
}
@theme {
  --breakpoint-*: initial;
  --breakpoint-mo: 300px;
  --breakpoint-de: 1000px;
}
@theme inline {
  --font-sans: var(--font-peyda);
}
*::-webkit-scrollbar {
  display: none; /* For Chrome, Safari, and Opera */
}
* {
  cursor: none !important;
  scrollbar-width: none; /* For Firefox */

} 
body {
  background: var(--background);
  color: var(--foreground);
  scrollbar-width: none; /* For Firefox */
}
.fc {
  display: flex;
  justify-content: center;
  align-items: center;
}
.fb {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.fa {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.fbs {
  display: flex;
  justify-content: space-between;
  align-items: start;
}
.fs {
  display: flex;
  justify-content: start;
  align-items: center;
}
.fss {
  display: flex;
  justify-content: start;
  align-items: start;
}
.swiper-pagination-bullet {
  background: #ffffff !important;
  opacity: 0.6;
  cursor: pointer;
}

.swiper-pagination-bullet-active {
  background: #ffffff !important;
  opacity: 1;
}

.gold {
  background-color: #6f5d32;
}
.golden {
  color: #6f5d32;
}
.goldbor {
  border-color: #6f5d32;
}
.t {
  transition: all;
  transition-duration: 300ms;
}
.hide-scrollbar {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE and Edge */
}

.hide-scrollbar::-webkit-scrollbar {
  display: none; /* Chrome, Safari */
}
